.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header"
      "navigation navigation navigation navigation"
      "sidebar mainContent mainContent mainContent"
      "footer footer footer footer";
      margin: 0 auto;
    max-width: 100rem;
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
    margin-bottom: 50px;
}

.mainContent {
    grid-area : mainContent;
    justify-self: center;
    width: 100%;
    border: 1px solid black;
}

.sidebar {
    width: 100%;
    padding: 100px;
    justify-self: stretch;
    grid-area: sidebar;
    justify-self: center;
    font-size: 60px;
    font-weight : 500;
    border: 1px solid black;
}

.footer {
    
    grid-area: footer;
}